# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: Qubic Query API
    description: API for querying historical Qubic ledger data.
    version: 1.0.0
servers:
    - url: https://rpc.qubic.org/query/v1
paths:
    /getComputorListsForEpoch:
        post:
            tags:
                - Network
            summary: Get Epoch Computors
            description: |-
                Get the list(s) of computors for one epoch. These are the computors (IDs signed by the arbitrator) that
                 are allowed to make quorum decisions. It is possible that this list changes within the epoch in case of
                 arbitrator intervention.
            operationId: ArchiveQueryService_GetComputorsListsForEpoch
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetComputorListsForEpochRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetComputorListsForEpochResponse'
    /getEventLogs:
        post:
            tags:
                - Events (Beta)
            summary: Get Event Logs
            description: |-
                Query event logs with optional filters.

                 Please note: beta version – may be subject to incompatible changes.

                 ###  Request structure

                 | Name       | Type               | Necessity | Description                                                    |
                 |------------|--------------------|-----------|----------------------------------------------------------------|
                 | filters    | map<string,string> | optional  | The filter value must appear in the matching documents.        |
                 | exclude    | map<string,string> | optional  | The filter value must not appear in the matching documents.    |
                 | should     | repeated ShouldFilter | optional  | At least one of the filter values must match. Needs multiple terms/ranges. |
                 | ranges     | map<string,Range>  | optional  | Filters that restrict results to a value range.                |
                 | pagination | Pagination         | optional  | Allows to specify the first record and number of records.      |

                 ### Filters

                 A filter property must only be used in one filter, if not explicitly stated otherwise.
                 If multiple values are used they need to be comma separated. See below for allowed properties.
                 Many fields are conditional per log type. Some fields are universal and present for all logs.

                 #### Include filter properties

                 | Name                  |  Type  |  Format                        | Description                                                               |
                 |-----------------------|--------|--------------------------------|---------------------------------------------------------------------------|
                 | source                | string | 60 character identity, up to 5 | The source identity. (conditional)                                        |
                 | destination           | string | 60 character identity, up to 5 | The destination identity. (conditional)                                   |
                 | transactionHash       | string | Hash                           | Hash of the related transaction. (conditional)                            |
                 | tickNumber            | string | Numeric                        | The tick the log belongs to. (universal)                                  |
                 | logId                 | string | Numeric                        | Index of the log within the tick. Should be unique per epoch. (universal) |
                 | logType               | string | Numeric, up to 5               | The type of the log. (universal)                                          |
                 | categories            | string | Numeric, up to 5               | Log category. (conditional)                                               |
                 | epoch                 | string | Numeric (uint32)               | The epoch. (universal)                                                    |
                 | assetName             | string | String, max 7 chars            | Name of the asset. (conditional)                                          |
                 | assetIssuer           | string | 60 character identity          | Issuer of the asset. (conditional)                                        |
                 | managingContractIndex | string | Numeric (uint64)               | Managing contract index. (conditional)                                    |
                 | contractIndex         | string | Numeric (uint64)               | Contract index. (conditional)                                             |
                 | contractMessageType   | string | Numeric (uint64)               | Contract message type. (conditional)                                      |
                 | deductedAmount        | string | Numeric (uint64)               | Deducted amount. (conditional)                                            |
                 | remainingAmount       | string | Numeric (int64)                | Remaining amount. (conditional)                                           |
                 | customMessage         | string | Numeric (uint64)               | Custom message. (conditional)                                             |

                 The following categories are theoretically supported at the moment. Not all are available in the archive.
                 See log data consumer code for more details:

                 | Name          | Category |
                 |---------------|----------|
                 | "SC_INITIALIZE_TX"   | 1 |
                 | "SC_BEGIN_EPOCH_TX"  | 2 |
                 | "SC_BEGIN_TICK_TX"   | 3 |
                 | "SC_END_TICK_TX"     | 4 |
                 | "SC_END_EPOCH_TX"    | 5 |
                 | "SC_NOTIFICATION_TX" | 6 |

                 #### Exclude filter properties

                 It is allowed to use exclude filters together with should filters.

                 | Name            |  Type   | Format   | Description                                             |
                 |-----------------|---------|----------|---------------------------------------------------------|
                 | source      | string | 60 character identity, up to 5, comma separated. | Only find logs with another source. |
                 | destination | string | 60 character identity, up to 5, comma separated.  | Only find logs with another destination.   |

                 #### Should filter term properties

                 | Name            |  Type   | Format   | Description                                             |
                 |-----------------|---------|----------|---------------------------------------------------------|
                 | source      | string | 60 character identity, up to 5, comma separated. | Find logs with this source. |
                 | destination | string | 60 character identity, up to 5, comma separated.  | Find logs with this source.  |
                 | amount      | string | Numeric | Find logs with this amount. |
                 | numberOfShares | string | Numeric  | Find logs with these number of shares.  |

                 #### Should filter range properties

                 | Name            |  Type   | Format   | Description                                             |
                 |-----------------|---------|----------|---------------------------------------------------------|
                 | amount      | string | Numeric | Find logs in the amount range. |
                 | numberOfShares | string | Numeric  | Find logs in the number of shares range.  |

                 #### Range filter properties

                 Ranges restrict the results to a range of values by defining a maximum and/or minimum value.

                 | Name            | Type   | Format                                   | Description                                        |
                 |-----------------|--------|------------------------------------------|----------------------------------------------------|
                 | amount          | string | Numeric                                  | Only find logs in the amount range.                |
                 | numberOfShares  | string | Numeric                                  | Only find logs withing the number of shares range. |
                 | tickNumber      | string | Numeric                                  | Only find logs in the tick range.                  |
                 | timestamp       | string | Numeric (Unix Timestamp in milliseconds) | Only find logs in the time range.                  |
                 | epoch           | string | Numeric (uint32)                         | Only find logs in the epoch range.                 |
                 | deductedAmount  | string | Numeric (uint64)                         | Only find logs in the deducted amount range.       |
                 | remainingAmount | string | Numeric (int64)                          | Only find logs in the remaining amount range.      |

                 ### Pagination

                 | Name   | Type   | Necessity | Description                                                                                         |
                 |--------|--------|-----------|-----------------------------------------------------------------------------------------------------|
                 | offset | uint32 | optional  | The offset of the first record to return. Defaults to zero (first record). Maximum offset is 10000. |
                 | size   | uint32 | optional  | Defaults to 10. Maximum size is 1000. Zero value is ignored (uses default). |
            operationId: ArchiveQueryService_GetEventLogs
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetEventLogsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetEventLogsResponse'
    /getLastProcessedTick:
        get:
            tags:
                - Archive
            summary: Get Last Processed Tick
            description: |-
                Get the last processed tick and other processing information from the archive.
                 All data queried from the archive is only fully processed up to this tick.
                 Before calling the service you should check the last processed tick to be sure to get
                 valid data and do not request data for future ticks that are not processed yet. You can use
                 the epoch and initial tick information in the response to switch to a new interval.
            operationId: ArchiveQueryService_GetLastProcessedTick
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetLastProcessedTickResponse'
    /getProcessedTickIntervals:
        get:
            tags:
                - Archive
            summary: Get Processed Tick Intervals
            description: |-
                Get the tick intervals that are available in the archive. A new tick interval is typically
                 created on epoch change or network restart within the epoch. Use this endpoint to skip the
                 tick numbers that are not part of the intervals. This endpoint is only necessary for users
                 that need to process all available ticks. For most users it is enough to switch to a new
                 interval by using the `get last processed tick` endpoint.
            operationId: ArchiveQueryService_GetProcessedTickIntervals
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetProcessedTickIntervalsResponse'
    /getTickData:
        post:
            tags:
                - Ticks
            summary: Get Tick Data
            description: Get the tick data for one tick.
            operationId: ArchiveQueryService_GetTickData
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetTickDataRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetTickDataResponse'
    /getTransactionByHash:
        post:
            tags:
                - Transactions
            summary: Get Transaction By Hash
            description: Get a single transaction by its hash.
            operationId: ArchiveQueryService_GetTransactionByHash
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetTransactionByHashRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetTransactionByHashResponse'
    /getTransactionsForIdentity:
        post:
            tags:
                - Transactions
            summary: Get Transactions For Identity
            description: |-
                Get the transactions for one identity sorted by tick number descending.

                 ###  Request structure

                 | Name       | Type               | Necessity | Description                                                                    |
                 |------------|--------------------|-----------|--------------------------------------------------------------------------------|
                 | identity   | string             | required  | 60 characters uppercase identity.                                              |
                 | filters    | map<string,string> | optional  | The filter value must appear in the matching documents.                        |
                 | exclude    | map<string,string> | optional  | The filter value must not appear in the matching documents.                    |
                 | ranges     | map<string,Range>  | optional  | Filters that restrict results to a value range.                                |
                 | pagination | Pagination         | optional  | Allows to specify the first record and the number of records to be retrieved.  |

                 Without filters and ranges all transactions from and to that identity ordered by tick number descending are returned.

                 ### Filters

                 A property must only be used in one filter. See below for allowed properties.

                 #### Include filter properties

                 | Name        |  Type   | Format                 | Description                                                        |
                 |-------------|---------|------------------------|--------------------------------------------------------------------|
                 | source      | string | 60 character identity, up to 5, comma separated. | Only find transactions with the specified source. |
                 | destination | string | 60 character identity, up to 5, comma separated.  | Only find transactions with the specified destination. |
                 | amount      | string | Numeric                | Only find transactions with the specified amount.                  |
                 | inputType   | string | Numeric                | Only find transactions with the specified input type.              |
                 | tickNumber  | string | Numeric                | Only find transactions with the specified tick number.             |

                 #### Exclude filter properties

                 | Name            |  Type   | Format   | Description                                             |
                 |-----------------|---------|----------|---------------------------------------------------------|
                 | source      | string | 60 character identity, up to 5, comma separated. | Only find transactions with another source. |
                 | destination | string | 60 character identity, up to 5, comma separated.  | Only find transactions with another destination.   |

                 #### Range filter properties

                 Ranges restrict the results by a range of values. One range per property is supported.

                 | Name       | Type   | Format                                   | Description                                 |
                 |------------|--------|------------------------------------------|---------------------------------------------|
                 | amount     | string | Numeric                                  | Only find transactions in amount range.     |
                 | tickNumber | string | Numeric                                  | Only find transactions in tick range.       |
                 | inputType  | string | Numeric                                  | Only find transactions in input type range. |
                 | timestamp  | string | Numeric (Unix Timestamp in milliseconds) | Only find transactions in time range.       |

                 ### Pagination

                 | Name   | Type   | Necessity | Description                                                                                         |
                 |--------|--------|-----------|-----------------------------------------------------------------------------------------------------|
                 | offset | uint32 | optional  | The offset of the first record to return. Defaults to zero (first record). Maximum offset is 10000. |
                 | size   | uint32 | optional  | Defaults to 10. Maximum size is 1000. Zero value is ignored (uses default). |
            operationId: ArchiveQueryService_GetTransactionsForIdentity
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetTransactionsForIdentityRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetTransactionsForIdentityResponse'
    /getTransactionsForTick:
        post:
            tags:
                - Transactions
            summary: Get Transactions For Tick
            description: |-
                Get the transactions that are in included in one tick.

                 ###  Request structure

                 | Name       | Type               | Necessity | Description                                     |
                 |------------|--------------------|-----------|-------------------------------------------------|
                 | identity   | string             | required  | 60 characters uppercase identity.               |
                 | filters    | map<string,string> | optional  | Filters that restrict results to single value.  |
                 | ranges     | map<string,Range>  | optional  | Filters that restrict results to a value range. |

                 ### Filters

                 Filters restrict the results by single values.

                 #### Allowed properties

                 | Name        |  Type   | Format                 | Description                                                        |
                 |-------------|---------|------------------------|--------------------------------------------------------------------|
                 | source      | string  | 60 character identity  | Only find transactions that were sent from the specified identities. |
                 | destination | string  | 60 character identity  | Only find transactions that were sent to the specified identities.   |
                 | amount      | string  | Numeric                | Only find transactions with the specified amount.                  |
                 | inputType   | string  | Numeric                | Only find transactions with the specified input type.              |

                 ### Ranges

                 Ranges restrict the results by a range of values. On range per property is supported.

                 #### Allowed properties

                 | Name       | Type   | Format                                   | Description                                 |
                 |------------|--------|------------------------------------------|---------------------------------------------|
                 | amount     | string | Numeric                                  | Only find transactions in amount range.     |
                 | inputType  | string | Numeric                                  | Only find transactions in input type range. |

                 #### Range definition

                 A range with size of 0 or 1 is not allowed.

                 | Name      | Type   | Necessity | Description                               |
                 |-----------|--------|-----------|-------------------------------------------|
                 | field | string | required  | Name of the field you wish to search for. |
                 | gt        | string | optional  | Greater than.                             |
                 | gte       | string | optional  | Greater than or equal to.                 |
                 | lt        | string | optional  | Less than.                                |
                 | lte       | string | optional  | Less than or equal to.                    |

                 Only one lower bound and one upper bound can be specified.

                 For examples how to use filters and ranges see the GetTransactionsForIdentity endpoint documentation.
            operationId: ArchiveQueryService_GetTransactionsForTick
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetTransactionsForTickRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetTransactionsForTickResponse'
components:
    schemas:
        AssetIssuanceData:
            type: object
            properties:
                assetIssuer:
                    type: string
                numberOfShares:
                    type: string
                managingContractIndex:
                    type: string
                assetName:
                    type: string
                numberOfDecimalPlaces:
                    type: integer
                    format: uint32
                unitOfMeasurement:
                    type: string
            description: AssetIssuanceData contains fields specific to asset issuance events (type 1).
        AssetOwnershipChangeData:
            type: object
            properties:
                source:
                    type: string
                destination:
                    type: string
                assetIssuer:
                    type: string
                assetName:
                    type: string
                numberOfShares:
                    type: string
            description: AssetOwnershipChangeData contains fields specific to asset ownership change events (type 2).
        AssetOwnershipManagingContractChangeData:
            type: object
            properties:
                assetName:
                    type: string
                assetIssuer:
                    type: string
                owner:
                    type: string
                numberOfShares:
                    type: string
                sourceContractIndex:
                    type: string
                destinationContractIndex:
                    type: string
            description: AssetOwnershipManagingContractChangeData contains fields specific to asset ownership managing contract change events (type 11).
        AssetPossessionChangeData:
            type: object
            properties:
                source:
                    type: string
                destination:
                    type: string
                assetIssuer:
                    type: string
                assetName:
                    type: string
                numberOfShares:
                    type: string
            description: AssetPossessionChangeData contains fields specific to asset possession change events (type 3).
        AssetPossessionManagingContractChangeData:
            type: object
            properties:
                assetName:
                    type: string
                assetIssuer:
                    type: string
                owner:
                    type: string
                possessor:
                    type: string
                numberOfShares:
                    type: string
                sourceContractIndex:
                    type: string
                destinationContractIndex:
                    type: string
            description: AssetPossessionManagingContractChangeData contains fields specific to asset possession managing contract change events (type 12).
        BurningData:
            type: object
            properties:
                source:
                    type: string
                amount:
                    type: string
                contractIndex:
                    type: string
            description: BurningData contains fields specific to burning events (type 8).
        ComputorList:
            type: object
            properties:
                epoch:
                    type: integer
                    description: Epoch number.
                    format: uint32
                tickNumber:
                    type: integer
                    description: Tick number when the list was received by the archive after it was published.
                    format: uint32
                identities:
                    type: array
                    items:
                        type: string
                    description: List of computor identities (signed by arbitrator).
                signature:
                    type: string
                    description: Signature of the arbitrator.
            description: ComputorList
        ContractReserveDeductionData:
            type: object
            properties:
                deductedAmount:
                    type: string
                remainingAmount:
                    type: string
                contractIndex:
                    type: string
            description: ContractReserveDeductionData contains fields specific to contract reserve deduction events (type 13).
        CustomMessageData:
            type: object
            properties:
                value:
                    type: string
        Event:
            type: object
            properties:
                epoch:
                    type: integer
                    format: uint32
                tickNumber:
                    type: integer
                    format: uint32
                timestamp:
                    type: string
                transactionHash:
                    type: string
                logType:
                    type: integer
                    format: uint32
                logId:
                    type: string
                logDigest:
                    type: string
                categories:
                    type: array
                    items:
                        type: integer
                        format: int32
                rawPayload:
                    type: string
                    format: bytes
                quTransfer:
                    $ref: '#/components/schemas/QuTransferData'
                assetIssuance:
                    $ref: '#/components/schemas/AssetIssuanceData'
                assetOwnershipChange:
                    $ref: '#/components/schemas/AssetOwnershipChangeData'
                assetPossessionChange:
                    $ref: '#/components/schemas/AssetPossessionChangeData'
                burning:
                    $ref: '#/components/schemas/BurningData'
                contractReserveDeduction:
                    $ref: '#/components/schemas/ContractReserveDeductionData'
                smartContractMessage:
                    $ref: '#/components/schemas/SmartContractMessageData'
                customMessage:
                    $ref: '#/components/schemas/CustomMessageData'
                assetOwnershipManagingContractChange:
                    $ref: '#/components/schemas/AssetOwnershipManagingContractChangeData'
                assetPossessionManagingContractChange:
                    $ref: '#/components/schemas/AssetPossessionManagingContractChangeData'
            description: Event
        GetComputorListsForEpochRequest:
            type: object
            properties:
                epoch:
                    type: integer
                    description: The epoch number to get the computor lists for.
                    format: uint32
            description: GetComputorListsForEpochRequest
        GetComputorListsForEpochResponse:
            type: object
            properties:
                computorsLists:
                    type: array
                    items:
                        $ref: '#/components/schemas/ComputorList'
                    description: The lists of computors that voted in this epoch.
            description: GetComputorListsForEpochResponse
        GetEventLogsRequest:
            example:
                filters:
                    transactionHash: zvqvtjzvgwgpegmalkkjedhbdrnckqcfthpzfqzxbcljttljzidmvaxalxyz
                pagination:
                    offset: 0
                    size: 10
            type: object
            properties:
                filters:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Include filters: all the values must match.'
                exclude:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Exclude filters: all the values must must not match.'
                should:
                    type: array
                    items:
                        $ref: '#/components/schemas/ShouldFilter'
                    description: 'Should filters: one or more of the values must match.'
                ranges:
                    type: object
                    additionalProperties:
                        $ref: '#/components/schemas/Range'
                    description: Ranges restrict the results by a maximum and/or minimum value.
                pagination:
                    $ref: '#/components/schemas/Pagination'
            description: GetEventLogsRequest
        GetEventLogsResponse:
            type: object
            properties:
                hits:
                    $ref: '#/components/schemas/Hits'
                eventLogs:
                    type: array
                    items:
                        $ref: '#/components/schemas/Event'
                    description: List of event logs that matched the search criteria.
                validForTick:
                    type: integer
                    description: The response is valid for this tick number.
                    format: uint32
            description: GetEventLogsResponse
        GetLastProcessedTickResponse:
            type: object
            properties:
                tickNumber:
                    type: integer
                    description: The last processed tick that is available in the archive.
                    format: uint32
                epoch:
                    type: integer
                    description: The epoch the last processed tick is in.
                    format: uint32
                intervalInitialTick:
                    type: integer
                    description: The initial tick of the current tick interval.
                    format: uint32
                lastProcessedLogTick:
                    type: integer
                    description: The last processed tick for event logs.
                    format: uint32
            description: GetLastProcessedTickResponse
        GetProcessedTickIntervalsResponse:
            type: object
            properties:
                processedTickIntervals:
                    type: array
                    items:
                        $ref: '#/components/schemas/ProcessedTickInterval'
                    description: A list of tick intervals that were processed.
            description: GetProcessedTickIntervalsResponse
        GetTickDataRequest:
            type: object
            properties:
                tickNumber:
                    type: integer
                    description: The number of tick the tick data is requested for.
                    format: uint32
            description: GetTickDataRequest
        GetTickDataResponse:
            type: object
            properties:
                tickData:
                    $ref: '#/components/schemas/TickData'
            description: GetTickDataResponse
        GetTransactionByHashRequest:
            type: object
            properties:
                hash:
                    type: string
                    description: The hash of the transaction.
            description: GetTransactionByHashRequest
        GetTransactionByHashResponse:
            type: object
            properties:
                transaction:
                    $ref: '#/components/schemas/Transaction'
            description: GetTransactionByHashResponse
        GetTransactionsForIdentityRequest:
            example:
                identity: AFZPUAIYVPNUYGJRQVLUKOPPVLHAZQTGLYAAUUNBXFTVTAMSBKQBLEIEPCVJ
                filters:
                    destination: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXIB
                    inputType: "0"
                ranges:
                    amount:
                        gte: "1000000000"
                pagination:
                    offset: 0
                    size: 10
            type: object
            properties:
                identity:
                    type: string
                    description: The identity to get the transactions for. Incoming and outgoing transactions are queried by default.
                filters:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Include filters: the value must appear in the matching documents.'
                exclude:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Exclude filters: the value must not appear in the matching documents.'
                ranges:
                    type: object
                    additionalProperties:
                        $ref: '#/components/schemas/Range'
                    description: Ranges restrict the results by a maximum and/or minimum value.
                pagination:
                    $ref: '#/components/schemas/Pagination'
            description: GetTransactionsForIdentityRequest
        GetTransactionsForIdentityResponse:
            type: object
            properties:
                validForTick:
                    type: integer
                    description: The response is valid for this tick number.
                    format: uint32
                hits:
                    $ref: '#/components/schemas/Hits'
                transactions:
                    type: array
                    items:
                        $ref: '#/components/schemas/Transaction'
                    description: List of transactions that matched the search criteria.
            description: GetTransactionsForIdentityResponse
        GetTransactionsForTickRequest:
            example:
                tickNumber: 42977140
                filters:
                    destination: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXIB
                ranges:
                    amount:
                        gte: "1"
            type: object
            properties:
                tickNumber:
                    type: integer
                    description: The tick number to get the transactions for.
                    format: uint32
                filters:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Include filters: the value must appear in the matching documents. Allowed: source, destination, amount, inputType'
                ranges:
                    type: object
                    additionalProperties:
                        $ref: '#/components/schemas/Range'
                    description: 'Ranges restrict the results by a maximum and minimum value. Allowed: amount, inputType'
            description: GetTransactionsForTickRequest
        GetTransactionsForTickResponse:
            type: object
            properties:
                transactions:
                    type: array
                    items:
                        $ref: '#/components/schemas/Transaction'
                    description: The transactions for the requested tick number.
            description: GetTransactionsForTickResponse
        HealthResponse:
            type: object
            properties:
                status:
                    type: string
                    description: Health status information.
            description: HealthResponse
        Hits:
            type: object
            properties:
                total:
                    type: integer
                    description: The total number of hits available in the archive. Capped at 10000.
                    format: uint32
                from:
                    type: integer
                    description: Starting offset of the hits that were returned.
                    format: uint32
                size:
                    type: integer
                    description: Number of returned hits.
                    format: uint32
            description: Provides information about the number of results.
        Pagination:
            type: object
            properties:
                offset:
                    type: integer
                    description: The offset specifies the starting point of the returned data. Defaults to zero.
                    format: uint32
                size:
                    type: integer
                    description: The size specifies how many results should be returned. Defaults to 10.
                    format: uint32
            description: The number of maximum results (offset + size) is limited to 10000.
        ProcessedTickInterval:
            type: object
            properties:
                epoch:
                    type: integer
                    description: The epoch the interval is in.
                    format: uint32
                firstTick:
                    type: integer
                    description: The initial processed tick of the interval.
                    format: uint32
                lastTick:
                    type: integer
                    description: The last processed tick of the interval.
                    format: uint32
            description: ProcessedTickInterval
        QuTransferData:
            type: object
            properties:
                source:
                    type: string
                destination:
                    type: string
                amount:
                    type: string
            description: QuTransferData contains fields specific to QU transfer events (type 0).
        Range:
            type: object
            properties:
                gt:
                    type: string
                    description: Greater than.
                gte:
                    type: string
                    description: Greater than or equal.
                lt:
                    type: string
                    description: Less than.
                lte:
                    type: string
                    description: Less than or equal.
            description: |-
                Range filter

                 | Name      | Type   | Necessity | Description                               |
                 |-----------|--------|-----------|-------------------------------------------|
                 | gt        | string | optional  | Greater than.                             |
                 | gte       | string | optional  | Greater than or equal to.                 |
                 | lt        | string | optional  | Less than.                                |
                 | lte       | string | optional  | Less than or equal to.                    |

                 One lower bound and one upper bound can be specified. One bound is needed. A range with size of 0 or 1 is not allowed.

                 Examples

                 ```
                 "amount": { "gt": "1000000" }
                 "tickNumber": { "gte": "25563000", "lte": "28300000" }
                 ```
        ShouldFilter:
            type: object
            properties:
                terms:
                    type: object
                    additionalProperties:
                        type: string
                    description: 'Or filters: One or more of the values must match.'
                ranges:
                    type: object
                    additionalProperties:
                        $ref: '#/components/schemas/Range'
                    description: Ranges restrict the results by a maximum and/or minimum value.
            description: |-
                Should Filters

                 One should filter can contain multiple terms and ranges. It needs at least two query clauses.
                 At least one of them has to match by default. See term and range filter documentation for examples.

                 Example

                 ```
                 "should": [
                   {
                     "terms": {
                       "source": "BAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARMID",
                       "destination": "BAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARMID"
                     }
                   }
                 ]
                 ```
        SmartContractMessageData:
            type: object
            properties:
                contractIndex:
                    type: string
                contractMessageType:
                    type: string
        TickData:
            type: object
            properties:
                tickNumber:
                    type: integer
                    format: uint32
                epoch:
                    type: integer
                    format: uint32
                computorIndex:
                    type: integer
                    format: uint32
                timestamp:
                    type: string
                varStruct:
                    type: string
                timeLock:
                    type: string
                transactionHashes:
                    type: array
                    items:
                        type: string
                contractFees:
                    type: array
                    items:
                        type: string
                signature:
                    type: string
            description: TickData
        Transaction:
            type: object
            properties:
                hash:
                    type: string
                amount:
                    type: string
                source:
                    type: string
                destination:
                    type: string
                tickNumber:
                    type: integer
                    format: uint32
                timestamp:
                    type: string
                inputType:
                    type: integer
                    description: Smart contract procedure index. (The smart contract procedure this transaction is supposed to trigger)
                    format: uint32
                inputSize:
                    type: integer
                    description: Size of input_data byte array.
                    format: uint32
                inputData:
                    type: string
                    description: Base64 encoded byte array containing a smart contract payload.
                signature:
                    type: string
                    description: Base64 encoded byte array representing the transactions's signature.
                moneyFlew:
                    type: boolean
                    description: Money flew is an additional information provided by some nodes with the tx status addon patch.
            description: Transaction
tags:
    - name: Archive
      description: Archive processing status and coverage information.
    - name: ArchiveQueryService
      description: Qubic Query API
      x-scalar-ignore: true
    - name: Events (Beta)
      description: Query event logs from the Qubic blockchain. Beta endpoint.
    - name: Network
      description: Network status and computor information.
    - name: Ticks
      description: Query tick data from the archive.
    - name: Transactions
      description: Search and retrieve transaction history.
externalDocs:
    description: GitHub
    url: https://github.com/qubic/archive-query-service
